<% provide(:title, 'Home') %>

<div class="col-md-3">
	<%= render 'static_pages/home/homesidebar' %>
</div>
<div class="col-md-9">
	<%= render 'static_pages/home/carouselbanner' %>
	<div class="row">
		          
		<div class="col-md-6">
			<%= render 'static_pages/home/servicios' %>
		</div>
		<div class="col-md-6">
			<%= render 'static_pages/home/documentos' %>
		</div>
	</div>
	<div class="row">              
		<div class="col-md-12">
			<%= render 'static_pages/home/adherentes' %>
		</div>
	</div>
	<div class="row">
	              
	  	<div class="col-md-12">
			<%= render 'static_pages/home/consejoeticatransparencia' %>
		</div>
	</div>
</div>